<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{modules/layouts/layout :: layout(path = 'moments',content = ~{::content}, htmlType = 'moments',title = ${title + ' | ' + site.title}, head = ~{::head}, _title = ${title})}">
<th:block th:fragment="head">
    <th:block th:replace="~{modules/common/open-graph :: open-graph(_title = ${_title},
                _permalink = '/moments',
                _cover = ${theme.config.other.opengraph.image},
                _excerpt = ${site.seo.description},
                _type = 'website')}"></th:block>
</th:block>
<th:block th:fragment="content">

    <div class="page" id="body-wrap">

        <!-- 头部导航栏 -->
        <header class="not-top-img" id="page-header">
            <nav th:replace="~{modules/nav :: nav(title = ${_title})}"></nav>
        </header>
        <main class="layout hide-aside" id="content-inner">
            <div id="page">
                <div th:replace="~{macro/author-content :: author-content(background = ${theme.config.moment.backgroundImg},
                        smallTitle = ${theme.config.moment.smallTitle},
                        bigTitle = ${theme.config.moment.bigTitle},
                        detail = ${theme.config.moment.detail},
                        buttonUrl = ${theme.config.moment.buttonUrl},
                        buttonTitle = ${theme.config.moment.buttonTitle})}">
                </div>
                <!-- 默认瞬间风格 -->
                <th:block th:if="${theme.config.moment.moments_filter == 'filter-default'}">
                    <div id="bber">
                        <section class="timeline page-1">
                            <ul class="list" id="waterfall">
                                <li class="item" th:each="moment : ${moments.items}"
                                    th:with="content=${moment.spec.content}">
                                    <div class="bber-content">
                                        <div class="datacont" th:if="${not #strings.isEmpty(content.html)}"
                                             th:utext="${content.html}">
                                        </div>
                                        <th:block th:if="${not #lists.isEmpty(content.medium)}">
                                            <div class="bber-container-img"
                                                 th:if="${#strings.contains(content.medium,'PHOTO')}">
                                                <img th:each="momentItem : ${content.medium}"
                                                     th:if="${momentItem.type.name == 'PHOTO'}"
                                                     th:src="${isLazyload ? loadingImg : momentItem.url}"
                                                     th:data-lazy-src="${ isLazyload ? momentItem.url : ''}" title="瞬间配图">
                                                <div class="bber-content-noimg"></div>
                                                <div class="bber-content-noimg"></div>
                                                <div class="bber-content-noimg"></div>
                                            </div>
                                            <div th:each="momentItem : ${content.medium}" class="bber-music"
                                                 th:if="${momentItem.type.name == 'VIDEO'}">
                                                <video th:src="${momentItem.url}"></video>
                                            </div>
                                        </th:block>
                                    </div>
    
                                    <hr>
                                    <div class="bber-bottom">
                                        <div class="bber-info">
                                            <div class="bber-info-time"><i class="haofont hao-icon-clock"></i>
                                                <time class="datatime"
                                                      th:text="${#dates.format(moment.spec.releaseTime,'yyyy-MM-dd')}"></time>
                                            </div>
                                        </div>
                                        <a class="bber-reply" th:if="${theme.config.comments.use != 'commentWidget'}"
                                           th:onclick="rightMenuCommentText([[${content.html}]]);"
                                           data-pjax-state=""> <i class="haofont hao-icon-chat--fill"
                                                                  style="font-size: 20px;"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </section>
                        <!--  分页 -->
                        <div th:replace="~{modules/widgets/page :: page('/moments',${moments},false,'')}"></div>
                    </div>
                </th:block>


                <!-- 瞬间风格二 -->
                <th:block th:if="${theme.config.moment.moments_filter == 'filter-pretty'}">
                    <div id="article-container">
                        <p>你可以在这里看到黑瞳最近发生了什么事情噢！<br>包括但不限于重大更新、资金短缺、复古行为、女装出镜、暗箱操作、鸽子煲汤、啊对对对、<br>双料特工、寄你大霉、无中生有等等…（奇怪的通知内容）</p>
                        <th:block th:each="moment,momentStat : ${moments.items}">
                            <div class="timeline red" th:class="${momentStat.odd ?  'timeline red': 'timeline purple'}">
                            <div class="timeline-item headline">
                                <div class="timeline-item-title">
                                    <p></p>
                                </div>
                            </div>
                            <div class="timeline-item">
                                <div class="timeline-item-title">
                                    <div class="item-circle">
                                        <p>
                                        <time
                                            data-i18n="page.moments.time"
                                            th:i18n-options="|{
                                            'time': '${moment.spec.releaseTime}',
                                            'params': { 
                                                'separator': '-', 
                                                'options': { 
                                                'year': 'numeric', 
                                                'month': '2-digit', 
                                                'day': '2-digit', 
                                                'hour': 'numeric', 
                                                'minute': 'numeric', 
                                                'second': 'numeric' 
                                                } 
                                            } 
                                            }|"
                                            th:data-datetime="${moment.spec.releaseTime}"
                                            itemprop="dateCreated datePublished"
                                        >
                                        </time>
                                        </p>
                                        <!--<p th:data-datetime="${moment.spec.releaseTime}">2024-03-06</p>-->
                                    </div>
                                </div>
                                <div class="timeline-item-content">
                                    <div
                                    class="moment-medium fancybox-content"
                                    th:if="${not #lists.isEmpty(moment.spec.content.medium)}"
                                    th:classappend="|medium-${#lists.size(moment.spec.content.medium)}|"
                                    >
                                    <th:block th:each="momentItem : ${moment.spec.content.medium}">
                                        <img
                                        class="lazyload"
                                        th:if="${momentItem.type.name == 'PHOTO'}"
                                        th:src="${#strings.isEmpty(momentItem.url) ? #theme.assets('/images/load/load.gif') : momentItem.url}"
                                        th:data-src="${momentItem.url}"
                                        width="400"
                                        height="400"
                                        alt="moment picture"
                                        />
                                        <video
                                        th:if="${momentItem.type.name == 'VIDEO'}"
                                        th:src="${momentItem.url}"
                                        width="400"
                                        height="400"
                                        ></video>
                                    </th:block>
                                    </div>
                                    <span class="moment-content">
                                    <th:block th:utext="${moment.spec.content.html}"></th:block>
                                    </span>
                                </div>
                            </div>
                            </div>
                        </th:block>
                    </div>
                    <!--  分页 -->
                    <div th:replace="~{modules/widgets/page :: page('/moments',${moments},false,'')}"></div>
                </th:block>
                
                <div id="bber-tips" style="color: var(--heo-secondtext);">- 只展示最近30条短文 -</div>
                <script>heo.reflashEssayWaterFall();</script>
                <hr th:if="${theme.config.comments.use != 'commentWidget'}" />
                <!--/* 评论组件 */-->
                <th:block th:replace="~{modules/comment :: comment(group = 'content.halo.run',
                  kind = 'SinglePage',
                  name = 'moments',
                  allowComment = ${theme.config.comments.use != 'commentWidget'})}" />
            </div>

        </main>
        <!-- 底部 -->
        <footer th:replace="~{modules/footer}"/>
        <!-- 卡片顶部气泡效果 -->
        <script th:if="${theme.config.other.bubbleEnable}" async data-pjax
                th:src="${assets_link + '/libs/canvas/bubble.js'}"></script>
    </div>

</th:block>

</html>